.book-container {
   border: 0px solid black;
   border-radius: 15px;
   
   padding: 10px;
  
  }
  
  .book-image {
    width: 190px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  .book-details {
    /* text-align: center; */
  }
  
  .book-button {
    margin-top: 10px;
    
  }
  